h1 {
  text-align: center;
  margin-top: 75px;
  font-size: 60px;
  margin-bottom: 75px;
}
body {
  background-color: rgb(231, 221, 249);
}
.App main {
  text-align: left;
  margin-bottom: 20px;
}
.App footer {
  margin-bottom: 50px;
}